{% for i in npo.items %}
	<div class= "row border-bottom">
	{% if i.text == '' and i.url != '' and i.comment_no < 1 %}
	<a href= "{{i.url}}" target= "blank" class= "news_item_link">
	{% else %}
	<a href= "/item/{{mname}}/{{i.nid}}/{{i.itemid}}/" class= "news_item_link">
	{% endif %}
	
		<div class= "col news_item py-3">
			<h4 class= "mb-3">{{i.title | title}}</h4>
			<p>{% if lname == 'latestnews' %}Written by:{% else %}Posted by:{% endif %} {{i.written_by}} <small> on </small> {{i.created.strftime('%B %d, %Y')}}</p>
			{% if i.text == '' and i.url != '' and i.comment_no < 1 %}
			<small><i>Note: This is an external news page and will open in a new tab</i></small>
			{% endif %}
		</div>
	</a>
	</div>
{% endfor %}


<div class = "row mt-3 mb-2"><div class= "col text-center">
{% for i in npo.iter_pages(left_edge=1, left_current=3, right_current=3, right_edge=1) %}
	{% if i == None %}
	<span class= "mx-2">...</span>
	{% else %}
	{% if i == 1 %}
	<a class= "btn btn-outline-info mx-1" href= "/{{lname}}/?page=1{% if sp != None%}&sitem={{sitem}}&stype={{stype}}{% endif %}">{{i}}</a>
	{% elif i == npo.pages %}
	<a class= "btn btn-outline-info mx-1" href= "/{{lname}}/?page={{npo.pages}}{% if sp != None%}&sitem={{sitem}}&stype={{stype}}{% endif %}">{{i}}</a>
	{% elif i == npo.page %}
	<button class= "btn btn-secondary mx-1">{{i}}</button>
	{% else %}
	<a class= "btn btn-outline-info mx-1" href= "/{{lname}}/?page={{i}}{% if sp != None%}&sitem={{sitem}}&stype={{stype}}{% endif %}">{{i}}</a>
	{% endif %}
	{% endif %}
{% endfor %}
</div></div>